/* Newtab Stylesheet */
body {
  background-color: #F7F8F9;
  font-family: Roboto, Liberation Sans, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}
.content {
  margin: 0px auto;
  width: 680px;
}
#iframe {
  border-width: 0px;
  height: 100%;
  margin: 0px;
  width: 100%;
}
header {
  background-color: #396DD0;
  color: white;
  height: 56px;
  line-height: 56px;
  font-size: 16px;
  font-weight: 400px;
}
header .mdi {
  font-size: 18px;
  position: relative;
  top: 1px;
  opacity: 0.8;
  margin-right: 5px;
}
article {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 400;
}
.settings-container {
  color: rgb(32, 33, 36);
  background-color: white;
  border-radius: 3px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  font-size: 13px;
  margin-top: 15px;
}
.settings-box {
  padding: 15px 20px 15px 50px;
  position: relative;
  border-bottom: 1px solid #eee;
}
.settings-box .mdi {
  display: block;
  position: absolute;
  top: 12px;
  left: 15px;
  font-size: 18px;
  color: rgba(0,0,0,0.8);
}
.help {
  color: #aaa;
  font-size: 11px;
  margin-top: 10px;
  max-width: 500px;
}
.help a {
  color: #888;
  text-decoration: none;
  display: block;
  float: left;
  width: 160px;
}
.help a:hover {
  text-decoration: underline;
}
.special.help {
  margin-left: 50px;
  margin-top: 30px;
}
input[type=text] {
  background-color: #F1F3F4;
  border-radius: 20px;
  border-width: 0px;
  color: #46a;
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
  margin-top: 3px;
  outline-width: 0;
  padding: 0px 10px;
  position: absolute;
  right: 20px;
  top: 8px;
  width: 480px;
}
button {
  color: #333;
  background-color: #ddd;
  border: 0px;
  border-radius: 20px;
  font-size: 13px;
  padding: 0px 10px;
  line-height: 24px;
}
button:hover { background-color: #ccc; }
button:focus { outline: 0; }

/* Switch */
.switch {
  position: absolute;
  display: inline-block;
  width: 28px;
  height: 12px;
  top: 17px;
  right: 25px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #BCC0C4;
  border-radius: 6px;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: -3px;
  bottom: -2px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0px;
  background-color: #fff;
  border-radius: 12px;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #94BBF0;
}
input:checked + .slider:before {
  transform: translateX(18px);
  background-color: #2978E2;
}

/* Sort Options */
#sort_delay {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 22px;
  top: 12px;
  right: 22px;
  border-radius: 20px;
  border-width: 0px;
  background-color: #F1F3F4;
  padding: 0px 5px;
  color: #46a;
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
  padding-left: 10px;
}
.seconds {
  position: absolute;
  display: inline-block;
  width: 28px;
  height: 12px;
  top: 15px;
  right: 40px;
  color: #46a;
  font-size: 13px;
  font-weight: bold;
}
.toplevel,
.sublevel {
  position: absolute;
  display: inline-block;
  width: 80px;
  height: 12px;
  top: 15px;
  right: 360px;
}
.sublevel {
  right: 142px;
}
.sort, .sortsub {
  position: absolute;
  display: inline-block;
  width: 120px;
  height: 22px;
  top: 11px;
  right: 250px;
  border-radius: 20px;
  border-width: 0px;
  background-color: #F1F3F4;
  padding: 0px 10px;
  color: #46a;
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
}
.sortsub {
  right: 22px;
}



/* Popup Window */
#popup {
  width: 250px;
  font-size: 14px;
}
#popup h2 {
  background-color: #555;
  color: #fff;
  display: block;
  font-size: 1.1em;
  font-weight: normal;
  margin: 0px;
  padding: 5px 10px;
}
#popup .groups {
  min-height: 100px;
}
#popup .row {
  line-height: 30px;
  color: rgb(32, 33, 36);
  border-bottom: 1px solid #eee;
  user-select: none;
}
#popup .row .name {
  padding-left: 10px;
  cursor: pointer;
}
#popup .row .name:hover {
  background-color: #eee;
}
#popup .row .name .mdi {
  margin-right: 5px;
  opacity: 0.8;
  font-size: 16px;
  position: relative;
  top: 1px;
}
#popup .row .actionsbtn {
  float: right;
  width: 30px;
  text-align: center;
  font-weight: bold;
  color: #aaa;
  line-height: 31px;
  cursor: pointer;
}
#popup .row .actionsbtn:hover {
  background-color: #ddd;
  color: #222;
}
#popup .row .actions {
  padding: 3px 5px;
  text-align: right;
}
#popup .row .actions,
#popup .row .actions button {
  font-size: 10px;
  line-height: 16px;
}
#popup .row .actions button {
  cursor: pointer;
}
#popup .groups:empty:before {
  color: #aaa;
  content: 'Create a tab group below..';
  display: block;
  line-height: 35px;
  text-align: center;
  line-height: 100px;
}
#popup .saverow {
  padding: 5px;
}
#popup .saverow button {
  line-height: 20px;
  cursor: pointer;
}
#popup .saverow input {
  float: left;
  left: 0px;
  margin-right: 10px;
  position: relative;
  top: -3px;
  width: 150px;
  font-size: 12px;
  line-height: 18px;
  opacity: 0.5;
}
#popup .saverow input:focus {
  opacity: 1;
}
